AutoServicioCineWeb/Connected Services/ComidaWS/ComidaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://WS.autoservicio.autoservicio.cinepucp.com.pe/" targetNamespace="http://WS.autoservicio.autoservicio.cinepucp.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizaComida" type="tns:actualizaComida" />
  <xs:element name="actualizaComidaResponse" type="tns:actualizaComidaResponse" />
  <xs:element name="buscarComidaPorId" type="tns:buscarComidaPorId" />
  <xs:element name="buscarComidaPorIdResponse" type="tns:buscarComidaPorIdResponse" />
  <xs:element name="eliminarComida" type="tns:eliminarComida" />
  <xs:element name="eliminarComidaResponse" type="tns:eliminarComidaResponse" />
  <xs:element name="listarComidas" type="tns:listarComidas" />
  <xs:element name="listarComidasResponse" type="tns:listarComidasResponse" />
  <xs:element name="registrarComida" type="tns:registrarComida" />
  <xs:element name="registrarComidaResponse" type="tns:registrarComidaResponse" />
  <xs:complexType name="actualizaComida">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estaActivo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizaComidaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarComida">
    <xs:sequence>
      <xs:element minOccurs="0" name="comida" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarComidaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarComida">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarComidaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="buscarComidaPorId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarComidaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarComidas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarComidasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoProducto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BEBIDA" />
      <xs:enumeration value="SNACK" />
      <xs:enumeration value="COMBO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>