AutoServicioCineWeb/Connected Services/ComidaWS/ComidaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.autoservicio.autoservicio.cinepucp.com.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ComidaWS" targetNamespace="http://WS.autoservicio.autoservicio.cinepucp.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AutoservicioPUCPWSBL/ComidaWS?xsd=1" namespace="http://WS.autoservicio.autoservicio.cinepucp.com.pe/" />
    </xsd:schema>
  </types>
  <message name="buscarComidaPorId">
    <part name="parameters" element="tns:buscarComidaPorId" />
  </message>
  <message name="buscarComidaPorIdResponse">
    <part name="parameters" element="tns:buscarComidaPorIdResponse" />
  </message>
  <message name="listarComidas">
    <part name="parameters" element="tns:listarComidas" />
  </message>
  <message name="listarComidasResponse">
    <part name="parameters" element="tns:listarComidasResponse" />
  </message>
  <message name="actualizaComida">
    <part name="parameters" element="tns:actualizaComida" />
  </message>
  <message name="actualizaComidaResponse">
    <part name="parameters" element="tns:actualizaComidaResponse" />
  </message>
  <message name="registrarComida">
    <part name="parameters" element="tns:registrarComida" />
  </message>
  <message name="registrarComidaResponse">
    <part name="parameters" element="tns:registrarComidaResponse" />
  </message>
  <message name="eliminarComida">
    <part name="parameters" element="tns:eliminarComida" />
  </message>
  <message name="eliminarComidaResponse">
    <part name="parameters" element="tns:eliminarComidaResponse" />
  </message>
  <portType name="ComidaWS">
    <operation name="buscarComidaPorId">
      <input wsam:Action="http://WS.autoservicio.autoservicio.cinepucp.com.pe/ComidaWS/buscarComidaPorIdRequest" message="tns:buscarComidaPorId" />
      <output wsam:Action="http://WS.autoservicio.autoservicio.cinepucp.com.pe/ComidaWS/buscarComidaPorIdResponse" message="tns:buscarComidaPorIdResponse" />
    </operation>
    <operation name="listarComidas">
      <input wsam:Action="http://WS.autoservicio.autoservicio.cinepucp.com.pe/ComidaWS/listarComidasRequest" message="tns:listarComidas" />
      <output wsam:Action="http://WS.autoservicio.autoservicio.cinepucp.com.pe/ComidaWS/listarComidasResponse" message="tns:listarComidasResponse" />
    </operation>
    <operation name="actualizaComida">
      <input wsam:Action="http://WS.autoservicio.autoservicio.cinepucp.com.pe/ComidaWS/actualizaComidaRequest" message="tns:actualizaComida" />
      <output wsam:Action="http://WS.autoservicio.autoservicio.cinepucp.com.pe/ComidaWS/actualizaComidaResponse" message="tns:actualizaComidaResponse" />
    </operation>
    <operation name="registrarComida">
      <input wsam:Action="http://WS.autoservicio.autoservicio.cinepucp.com.pe/ComidaWS/registrarComidaRequest" message="tns:registrarComida" />
      <output wsam:Action="http://WS.autoservicio.autoservicio.cinepucp.com.pe/ComidaWS/registrarComidaResponse" message="tns:registrarComidaResponse" />
    </operation>
    <operation name="eliminarComida">
      <input wsam:Action="http://WS.autoservicio.autoservicio.cinepucp.com.pe/ComidaWS/eliminarComidaRequest" message="tns:eliminarComida" />
      <output wsam:Action="http://WS.autoservicio.autoservicio.cinepucp.com.pe/ComidaWS/eliminarComidaResponse" message="tns:eliminarComidaResponse" />
    </operation>
  </portType>
  <binding name="ComidaWSPortBinding" type="tns:ComidaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarComidaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComidas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizaComida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarComida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarComida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ComidaWS">
    <port name="ComidaWSPort" binding="tns:ComidaWSPortBinding">
      <soap:address location="http://localhost:8080/AutoservicioPUCPWSBL/ComidaWS" />
    </port>
  </service>
</definitions>