AutoServicioCineWeb/Connected Services/AutoservicioCineWS/AuthWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.AutoCine.pucp.edu.pe/" xmlns:ns1="http://WS.autoservicio.autoservicio.cinepucp.com.pe/" targetNamespace="http://services.AutoCine.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/AutoservicioPUCPWSBL/AuthWS?xsd=2" namespace="http://WS.autoservicio.autoservicio.cinepucp.com.pe/" />
  <xs:element name="Exception" nillable="true" type="ns1:Exception" />
  <xs:element name="loginUsuario" type="tns:loginUsuario" />
  <xs:element name="loginUsuarioResponse" type="tns:loginUsuarioResponse" />
  <xs:element name="registrarUsuario" type="tns:registrarUsuario" />
  <xs:element name="registrarUsuarioResponse" type="tns:registrarUsuarioResponse" />
  <xs:complexType name="registrarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="admin" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="estaActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDate" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idiomaPreferido" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:authLoginResponseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authLoginResponseData">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>