AutoServicioCineWeb/Connected Services/AutoservicioCineWS/ComboItemWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.AutoCine.pucp.edu.pe/" xmlns:ns1="http://WS.autoservicio.autoservicio.cinepucp.com.pe/" targetNamespace="http://services.AutoCine.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/AutoservicioPUCPWSBL/ComboItemWS?xsd=2" namespace="http://WS.autoservicio.autoservicio.cinepucp.com.pe/" />
  <xs:element name="Exception" nillable="true" type="ns1:Exception" />
  <xs:element name="actualizarComboItem" type="tns:actualizarComboItem" />
  <xs:element name="actualizarComboItemResponse" type="tns:actualizarComboItemResponse" />
  <xs:element name="buscarComboItemPorId" type="tns:buscarComboItemPorId" />
  <xs:element name="buscarComboItemPorIdResponse" type="tns:buscarComboItemPorIdResponse" />
  <xs:element name="eliminarComboItem" type="tns:eliminarComboItem" />
  <xs:element name="eliminarComboItemResponse" type="tns:eliminarComboItemResponse" />
  <xs:element name="listarComboItems" type="tns:listarComboItems" />
  <xs:element name="listarComboItemsResponse" type="tns:listarComboItemsResponse" />
  <xs:element name="registrarComboItem" type="tns:registrarComboItem" />
  <xs:element name="registrarComboItemResponse" type="tns:registrarComboItemResponse" />
  <xs:complexType name="eliminarComboItem">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarComboItemResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="buscarComboItemPorId">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarComboItemPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:comboItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comboItem">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="combo" type="tns:producto" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estaActivo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarComboItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="combo" type="tns:comboItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarComboItemResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarComboItems">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarComboItemsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comboItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarComboItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="combo" type="tns:comboItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarComboItemResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="tipoProducto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BEBIDA" />
      <xs:enumeration value="SNACK" />
      <xs:enumeration value="COMBO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>