AutoServicioCineWeb/Connected Services/AutoservicioCineWS/ComboItemWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.AutoCine.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ComboItemWS" targetNamespace="http://services.AutoCine.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AutoservicioPUCPWSBL/ComboItemWS?xsd=1" namespace="http://services.AutoCine.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarComboItem">
    <part name="parameters" element="tns:eliminarComboItem" />
  </message>
  <message name="eliminarComboItemResponse">
    <part name="parameters" element="tns:eliminarComboItemResponse" />
  </message>
  <message name="listarComboItems">
    <part name="parameters" element="tns:listarComboItems" />
  </message>
  <message name="listarComboItemsResponse">
    <part name="parameters" element="tns:listarComboItemsResponse" />
  </message>
  <message name="registrarComboItem">
    <part name="parameters" element="tns:registrarComboItem" />
  </message>
  <message name="registrarComboItemResponse">
    <part name="parameters" element="tns:registrarComboItemResponse" />
  </message>
  <message name="actualizarComboItem">
    <part name="parameters" element="tns:actualizarComboItem" />
  </message>
  <message name="actualizarComboItemResponse">
    <part name="parameters" element="tns:actualizarComboItemResponse" />
  </message>
  <message name="buscarComboItemPorId">
    <part name="parameters" element="tns:buscarComboItemPorId" />
  </message>
  <message name="buscarComboItemPorIdResponse">
    <part name="parameters" element="tns:buscarComboItemPorIdResponse" />
  </message>
  <portType name="ComboItemWS">
    <operation name="eliminarComboItem">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/ComboItemWS/eliminarComboItemRequest" message="tns:eliminarComboItem" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/ComboItemWS/eliminarComboItemResponse" message="tns:eliminarComboItemResponse" />
    </operation>
    <operation name="listarComboItems">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/ComboItemWS/listarComboItemsRequest" message="tns:listarComboItems" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/ComboItemWS/listarComboItemsResponse" message="tns:listarComboItemsResponse" />
    </operation>
    <operation name="registrarComboItem">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/ComboItemWS/registrarComboItemRequest" message="tns:registrarComboItem" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/ComboItemWS/registrarComboItemResponse" message="tns:registrarComboItemResponse" />
    </operation>
    <operation name="actualizarComboItem">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/ComboItemWS/actualizarComboItemRequest" message="tns:actualizarComboItem" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/ComboItemWS/actualizarComboItemResponse" message="tns:actualizarComboItemResponse" />
    </operation>
    <operation name="buscarComboItemPorId">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/ComboItemWS/buscarComboItemPorIdRequest" message="tns:buscarComboItemPorId" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/ComboItemWS/buscarComboItemPorIdResponse" message="tns:buscarComboItemPorIdResponse" />
    </operation>
  </portType>
  <binding name="ComboItemWSPortBinding" type="tns:ComboItemWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarComboItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComboItems">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarComboItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarComboItem">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarComboItemPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ComboItemWS">
    <port name="ComboItemWSPort" binding="tns:ComboItemWSPortBinding">
      <soap:address location="http://localhost:8080/AutoservicioPUCPWSBL/ComboItemWS" />
    </port>
  </service>
</definitions>