AutoServicioCineWeb/Connected Services/AutoservicioCineWS/CuponWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.AutoCine.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CuponWS" targetNamespace="http://services.AutoCine.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AutoservicioPUCPWSBL/CuponWS?xsd=1" namespace="http://services.AutoCine.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="registrarCupon">
    <part name="parameters" element="tns:registrarCupon" />
  </message>
  <message name="registrarCuponResponse">
    <part name="parameters" element="tns:registrarCuponResponse" />
  </message>
  <message name="buscarCuponPorId">
    <part name="parameters" element="tns:buscarCuponPorId" />
  </message>
  <message name="buscarCuponPorIdResponse">
    <part name="parameters" element="tns:buscarCuponPorIdResponse" />
  </message>
  <message name="listarCupones">
    <part name="parameters" element="tns:listarCupones" />
  </message>
  <message name="listarCuponesResponse">
    <part name="parameters" element="tns:listarCuponesResponse" />
  </message>
  <message name="eliminarCupon">
    <part name="parameters" element="tns:eliminarCupon" />
  </message>
  <message name="eliminarCuponResponse">
    <part name="parameters" element="tns:eliminarCuponResponse" />
  </message>
  <message name="actualizarCupon">
    <part name="parameters" element="tns:actualizarCupon" />
  </message>
  <message name="actualizarCuponResponse">
    <part name="parameters" element="tns:actualizarCuponResponse" />
  </message>
  <portType name="CuponWS">
    <operation name="registrarCupon">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/CuponWS/registrarCuponRequest" message="tns:registrarCupon" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/CuponWS/registrarCuponResponse" message="tns:registrarCuponResponse" />
    </operation>
    <operation name="buscarCuponPorId">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/CuponWS/buscarCuponPorIdRequest" message="tns:buscarCuponPorId" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/CuponWS/buscarCuponPorIdResponse" message="tns:buscarCuponPorIdResponse" />
    </operation>
    <operation name="listarCupones">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/CuponWS/listarCuponesRequest" message="tns:listarCupones" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/CuponWS/listarCuponesResponse" message="tns:listarCuponesResponse" />
    </operation>
    <operation name="eliminarCupon">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/CuponWS/eliminarCuponRequest" message="tns:eliminarCupon" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/CuponWS/eliminarCuponResponse" message="tns:eliminarCuponResponse" />
    </operation>
    <operation name="actualizarCupon">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/CuponWS/actualizarCuponRequest" message="tns:actualizarCupon" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/CuponWS/actualizarCuponResponse" message="tns:actualizarCuponResponse" />
    </operation>
  </portType>
  <binding name="CuponWSPortBinding" type="tns:CuponWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="registrarCupon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarCuponPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCupones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCupon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCupon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CuponWS">
    <port name="CuponWSPort" binding="tns:CuponWSPortBinding">
      <soap:address location="http://localhost:8080/AutoservicioPUCPWSBL/CuponWS" />
    </port>
  </service>
</definitions>