AutoServicioCineWeb/Connected Services/AutoservicioCineWS/CuponWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.AutoCine.pucp.edu.pe/" targetNamespace="http://services.AutoCine.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarCupon" type="tns:actualizarCupon" />
  <xs:element name="actualizarCuponResponse" type="tns:actualizarCuponResponse" />
  <xs:element name="buscarCuponPorId" type="tns:buscarCuponPorId" />
  <xs:element name="buscarCuponPorIdResponse" type="tns:buscarCuponPorIdResponse" />
  <xs:element name="eliminarCupon" type="tns:eliminarCupon" />
  <xs:element name="eliminarCuponResponse" type="tns:eliminarCuponResponse" />
  <xs:element name="listarCupones" type="tns:listarCupones" />
  <xs:element name="listarCuponesResponse" type="tns:listarCuponesResponse" />
  <xs:element name="registrarCupon" type="tns:registrarCupon" />
  <xs:element name="registrarCuponResponse" type="tns:registrarCuponResponse" />
  <xs:complexType name="buscarCuponPorId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCuponPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cupon">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="creadoPor" type="tns:usuario" />
      <xs:element minOccurs="0" name="cuponId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcionEn" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionEs" type="xs:string" />
      <xs:element minOccurs="0" name="descuentoTipo" type="tns:tipoDescuento" />
      <xs:element minOccurs="0" name="descuentoValor" type="xs:double" />
      <xs:element minOccurs="0" name="fechaFin" type="tns:localDate" />
      <xs:element minOccurs="0" name="fechaInicio" type="tns:localDate" />
      <xs:element minOccurs="0" name="fechaModificacion" type="tns:localDate" />
      <xs:element minOccurs="0" name="maxUsos" type="xs:int" />
      <xs:element minOccurs="0" name="usosActuales" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="estaActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaRegistro" type="tns:localDate" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idiomaPreferido" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" type="tns:tipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="registrarCupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:cupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarCuponResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCupones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCuponesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCupon">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCuponResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarCupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:cupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCuponResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="ADMIN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDescuento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PORCENTAJE" />
      <xs:enumeration value="MONTO_FIJO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>