AutoServicioCineWeb/Connected Services/AutoservicioCineWS/ProductoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.AutoCine.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoWS" targetNamespace="http://services.AutoCine.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AutoservicioPUCPWSBL/ProductoWS?xsd=1" namespace="http://services.AutoCine.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="registrarProducto">
    <part name="parameters" element="tns:registrarProducto" />
  </message>
  <message name="registrarProductoResponse">
    <part name="parameters" element="tns:registrarProductoResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="actualizarProducto">
    <part name="parameters" element="tns:actualizarProducto" />
  </message>
  <message name="actualizarProductoResponse">
    <part name="parameters" element="tns:actualizarProductoResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <message name="listarProductos">
    <part name="parameters" element="tns:listarProductos" />
  </message>
  <message name="listarProductosResponse">
    <part name="parameters" element="tns:listarProductosResponse" />
  </message>
  <message name="buscarProductoPorId">
    <part name="parameters" element="tns:buscarProductoPorId" />
  </message>
  <message name="buscarProductoPorIdResponse">
    <part name="parameters" element="tns:buscarProductoPorIdResponse" />
  </message>
  <portType name="ProductoWS">
    <operation name="registrarProducto">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/registrarProductoRequest" message="tns:registrarProducto" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/registrarProductoResponse" message="tns:registrarProductoResponse" />
      <fault wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/registrarProducto/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="actualizarProducto">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/actualizarProductoRequest" message="tns:actualizarProducto" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/actualizarProductoResponse" message="tns:actualizarProductoResponse" />
      <fault wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/actualizarProducto/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eliminarProducto">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
      <fault wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/eliminarProducto/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="listarProductos">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/listarProductosRequest" message="tns:listarProductos" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/listarProductosResponse" message="tns:listarProductosResponse" />
      <fault wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/listarProductos/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="buscarProductoPorId">
      <input wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/buscarProductoPorIdRequest" message="tns:buscarProductoPorId" />
      <output wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/buscarProductoPorIdResponse" message="tns:buscarProductoPorIdResponse" />
      <fault wsam:Action="http://services.AutoCine.pucp.edu.pe/ProductoWS/buscarProductoPorId/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="ProductoWSPortBinding" type="tns:ProductoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="registrarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="actualizarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="listarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="buscarProductoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ProductoWS">
    <port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
      <soap:address location="http://localhost:8080/AutoservicioPUCPWSBL/ProductoWS" />
    </port>
  </service>
</definitions>