AutoServicioCineWeb/Connected Services/AutoservicioCineWS/SalaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.AutoCine.pucp.edu.pe/" targetNamespace="http://services.AutoCine.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarSala" type="tns:actualizarSala" />
  <xs:element name="actualizarSalaResponse" type="tns:actualizarSalaResponse" />
  <xs:element name="buscarSalaPorId" type="tns:buscarSalaPorId" />
  <xs:element name="buscarSalaPorIdResponse" type="tns:buscarSalaPorIdResponse" />
  <xs:element name="eliminarSala" type="tns:eliminarSala" />
  <xs:element name="eliminarSalaResponse" type="tns:eliminarSalaResponse" />
  <xs:element name="listarSalas" type="tns:listarSalas" />
  <xs:element name="listarSalasResponse" type="tns:listarSalasResponse" />
  <xs:element name="registrarSala" type="tns:registrarSala" />
  <xs:element name="registrarSalaResponse" type="tns:registrarSalaResponse" />
  <xs:complexType name="buscarSalaPorId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarSalaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sala">
    <xs:sequence>
      <xs:element name="activa" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asientos" nillable="true" type="tns:asiento" />
      <xs:element name="capacidad" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoSala" type="tns:tipoSala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asiento">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="fila" type="xs:unsignedShort" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="numero" type="xs:int" />
      <xs:element minOccurs="0" name="sala" type="tns:sala" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoAsiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarSala">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarSalaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarSala">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarSalaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarSala">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSalaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSalas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSalasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sala" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoAsiento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NORMAL" />
      <xs:enumeration value="VIP" />
      <xs:enumeration value="DISCAPACITADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoSala">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ESTANDAR" />
      <xs:enumeration value="TRES_D" />
      <xs:enumeration value="PREMIUM" />
      <xs:enumeration value="CUATRO_DX" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>